.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;

}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    background-color: rgb(163, 219, 200);
    width: 350px;
    height: 100vh;
    position: sticky;
    top: 0;
}
.cart-info{
    display: flex;
    align-items: center;
    padding: 10px;
}
.cart-info img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}